body {
  background: #eee;
  font-family: sans-serif;
  font-size: 26px;
  box-sizing: border-box;
}

.card {
  width: 700px;
  padding: 15px;
  background: #fff;
  margin: 20px auto;
}

.title {
  background: #e3f4ff;
  padding: 15px;
}

.content {
  background: #e3f4ff;
  padding:20px;
  margin-bottom: 15px;
}

.button-container {
  padding: 30px;
  background: #e3f4ff;
  text-align: center;
}

button {
  display:block;
  padding: 10px 80px;
  margin: 0 auto;
  background: white;
  border: 1px solid #eee;
}